﻿@model Visitors.Models.VisitorsViewModels.VisitorDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Информация о пользователе</h2>
<table class="table table-striped">
    <tr>
        <td>Фамилия</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td>Пол</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>ИИН</td>
        <td>@Model.IIN</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>@Model.Address</td>
    </tr>
</table>

<table class="table table-striped">
    <tr>
        <td>Посещаемый</td>
        <td>Дата</td>
        <td>Этаж</td>
        <td>Кабинет</td>
    </tr>
    @foreach (var visit in Model.Visits)
    {
        <tr>
            <td>@visit.VisitorPerson</td>
            <td>@visit.VisitTime.ToString("f")</td>
            <td>@visit.Floor</td>
            <td>@visit.Room</td>
        </tr>
    }
</table>
