﻿@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Visitors.Models.VisitorsViewModels.VisitorViewModel>

    @{
    ViewData["Title"] = "Index";
}
<div class="col-md-8 col-md-offset-2">
    <span class="alert-info">
        @ViewData["Message"]
    </span>
</div>
<h3>Посетители</h3>
<table class="table table-striped">
    <tr>
        <td>Ф.И.О.</td>
        <td>Телефон</td>
        <td>Всего посещений</td>
        <td>Действия</td>
    </tr>
    @foreach (var vis in Model)
    {
        <tr>
            <td>@vis.FullName</td>
            <td>@vis.Phone</td>
            <td>@vis.TotalVisits</td>
            <td>
                <a class="btn btn-danger"
                   asp-controller="Visitors"
                   asp-action="Delete"
                   asp-route-id="@vis.Id">Delete</a>
                <a class="btn btn-info"
                   asp-controller="Visitors"
                   asp-action="Details"
                   asp-route-id="@vis.Id">Details</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page=>Url.Action("Index", new {page=page}))