﻿@model Visitors.Models.VisitsViewModels.CreateVisitViewModel
@{ 
    ViewData["Title"] = "Добавить посещение";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6
         col-xs-12 col-lg-offset-4 col-md-offset-3
         col-sm-offset-3 col-xs-offset-0">
        @using (Html.BeginForm("Create", "Visits", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label asp-for="Floor" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Floor" class="form-control" />
                    <span asp-validation-for="Floor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Room" class="form-control" />
                    <span asp-validation-for="Room" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VisitorId" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <select asp-for="VisitorId" asp-items="@(ViewData["VisitorsList"] as SelectList)" class="form-control"></select>
                    <span asp-validation-for="VisitorId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <select asp-for="PersonId" asp-items="@(ViewData["PeopleList"] as SelectList)" class="form-control"></select>
                    <span asp-validation-for="PersonId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-default btn-primary">Добавить</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
