﻿@model Visitors.Models.PeopleViewModels.PersonDetailViewModel
@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<h2>Информация о посещаемом</h2>
<table class="table table-striped">
    <tr>
        <td>Фамилия</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td>Пол</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>ИИН</td>
        <td>@Model.IIN</td>
    </tr>
   
</table>

<table class="table table-striped">
    <tr>
        <td>Посетитель</td>
        <td>Дата</td>
        <td>Этаж</td>
        <td>Кабинет</td>
    </tr>
    @foreach (var visit in Model.Visits)
    {
        <tr>
            <td>@visit.VisitedPerson</td>
            <td>@visit.VisitTime.ToString("f")</td>
            <td>@visit.Floor</td>
            <td>@visit.Room</td>
        </tr>
    }
</table>


